<h2><%= resource_name.to_s.humanize %> bearbeiten</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "leer lassen, falls Sie es nicht ändern möchten", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "Wir brauchen Ihr aktuelles Passwort, um Ihre Änderungen zu bestätigen", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Aktualisieren", :class=>'btn btn-primary' %>
  </div>
<% end %>

<h3>Meine Rollen</h3>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= UserRole.human_attribute_name(:role_name) %></th>
      <th><%= UserRole.human_attribute_name(:role_description) %></th>
      <th><%= UserRole.human_attribute_name(:valid_from) %></th>
      <th><%= UserRole.human_attribute_name(:valid_to) %></th>
      <th><%= UserRole.human_attribute_name(:active?) %></th>
    </tr>
  </thead>
  <tbody>
  <% resource.user_roles.each do |user_role| %>
  <tr>
    <td><%= user_role.role_name %></td>
    <td><%= user_role.role_description %></td>
    <td><%= l(user_role.valid_from) %></td>
    <td><%= l(user_role.valid_to) %></td>
    <td><%= t(user_role.active?) %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<h3>Mein Konto kündigen</h3>

<p>Unzufrieden? <%= link_to "Mein Konto kündigen", registration_path(resource_name), :data => { :confirm => "Sind Sie sicher?" }, :method => :delete, :class=>'btn btn-danger btn-mini' %>.</p>

<%= link_to "Zurück", :back %>
